The performance of a Tweedie loss function is not that far off, and it could be very useful...

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import os
import sys
os.chdir('/content/drive/My Drive/Colab Notebooks')

# Credits

* [First R notebook](https://www.kaggle.com/kailex/m5-forecaster-v2)
* [Python translation](https://www.kaggle.com/kneroma/m5-forecast-v2-python)

In [ ]:
from  datetime import datetime, timedelta
import gc
import numpy as np, pandas as pd
import lightgbm as lgb

In [ ]:
CAL_DTYPES={"event_name_1": "category", "event_name_2": "category", "event_type_1": "category", 
         "event_type_2": "category", "weekday": "category", 'wm_yr_wk': 'int16', "wday": "int16",
        "month": "int16", "year": "int16", "snap_CA": "float32", 'snap_TX': 'float32', 'snap_WI': 'float32' }
PRICE_DTYPES = {"store_id": "category", "item_id": "category", "wm_yr_wk": "int16","sell_price":"float32" }

In [ ]:
h = 28 
max_lags = 57
tr_last = 1941
fday = datetime(2016,5, 23) 
fday

datetime.datetime(2016, 5, 23, 0, 0)

In [ ]:
def create_dt(is_train = True, nrows = None, first_day = 1200):
    prices = pd.read_csv("/content/drive/My Drive/Colab Notebooks/sell_prices.csv", dtype = PRICE_DTYPES)
    for col, col_dtype in PRICE_DTYPES.items():
        if col_dtype == "category":
            prices[col] = prices[col].cat.codes.astype("int16")
            prices[col] -= prices[col].min()
            
    cal = pd.read_csv("/content/drive/My Drive/Colab Notebooks/calendar.csv", dtype = CAL_DTYPES)
    cal["date"] = pd.to_datetime(cal["date"])
    for col, col_dtype in CAL_DTYPES.items():
        if col_dtype == "category":
            cal[col] = cal[col].cat.codes.astype("int16")
            cal[col] -= cal[col].min()
    
    start_day = max(1 if is_train  else tr_last-max_lags, first_day)
    numcols = [f"d_{day}" for day in range(start_day,tr_last+1)]
    catcols = ['id', 'item_id', 'dept_id','store_id', 'cat_id', 'state_id']
    dtype = {numcol:"float32" for numcol in numcols} 
    dtype.update({col: "category" for col in catcols if col != "id"})
    dt = pd.read_csv("/content/drive/My Drive/Colab Notebooks/sales_train_evaluation.csv", 
                     nrows = nrows, usecols = catcols + numcols, dtype = dtype)
    
    for col in catcols:
        if col != "id":
            dt[col] = dt[col].cat.codes.astype("int16")
            dt[col] -= dt[col].min()
    
    if not is_train:
        for day in range(tr_last+1, tr_last+ 28 +1):
            dt[f"d_{day}"] = np.nan
    
    dt = pd.melt(dt,
                  id_vars = catcols,
                  value_vars = [col for col in dt.columns if col.startswith("d_")],
                  var_name = "d",
                  value_name = "sales")
    
    dt = dt.merge(cal, on= "d", copy = False)
    dt = dt.merge(prices, on = ["store_id", "item_id", "wm_yr_wk"], copy = False)
    
    return dt

In [ ]:
def create_fea(dt):
    lags = [7, 28]
    lag_cols = [f"lag_{lag}" for lag in lags ]
    for lag, lag_col in zip(lags, lag_cols):
        dt[lag_col] = dt[["id","sales"]].groupby("id")["sales"].shift(lag)

    wins = [7, 28]
    for win in wins :
        for lag,lag_col in zip(lags, lag_cols):
            dt[f"rmean_{lag}_{win}"] = dt[["id", lag_col]].groupby("id")[lag_col].transform(lambda x : x.rolling(win).mean())

    
    
    date_features = {
        
        "wday": "weekday",
        "week": "weekofyear",
        "month": "month",
        "quarter": "quarter",
        "year": "year",
        "mday": "day",
#         "ime": "is_month_end",
#         "ims": "is_month_start",
    }
    
    #     dt.drop(["d", "wm_yr_wk", "weekday"], axis=1, inplace = True)
    
    for date_feat_name, date_feat_func in date_features.items():
        if date_feat_name in dt.columns:
            dt[date_feat_name] = dt[date_feat_name].astype("int16")
        else:
            dt[date_feat_name] = getattr(dt["date"].dt, date_feat_func).astype("int16")

In [ ]:
FIRST_DAY = 350 # If you want to load all the data set it to '1' -->  Great  memory overflow  risk !

In [ ]:
%%time

df = create_dt(is_train=True, first_day= FIRST_DAY)
df.shape

CPU times: user 27.1 s, sys: 4.39 s, total: 31.5 s
Wall time: 32.9 s

In [ ]:
df.head()

                              id  item_id  ...  snap_WI  sell_price
0  HOBBIES_1_002_CA_1_evaluation        1  ...      0.0        3.97
1  HOBBIES_1_004_CA_1_evaluation        3  ...      0.0        4.34
2  HOBBIES_1_005_CA_1_evaluation        4  ...      0.0        2.48
3  HOBBIES_1_008_CA_1_evaluation        7  ...      0.0        0.50
4  HOBBIES_1_009_CA_1_evaluation        8  ...      0.0        1.77

[5 rows x 22 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41571939 entries, 0 to 41571938
Data columns (total 22 columns):
 #   Column        Dtype
---  ------        -----
 0   id            object
 1   item_id       int16
 2   dept_id       int16
 3   store_id      int16
 4   cat_id        int16
 5   state_id      int16
 6   d             object
 7   sales         float32
 8   date          datetime64[ns]
 9   wm_yr_wk      int16
 10  weekday       int16
 11  wday          int16
 12  month         int16
 13  year          int16
 14  event_name_1  int16
 15  event_type_1  int16
 16  event_name_2  int16
 17  event_type_2  int16
 18  snap_CA       float32
 19  snap_TX       float32
 20  snap_WI       float32
 21  sell_price    float32
dtypes: datetime64[ns](1), float32(5), int16(14), object(2)
memory usage: 3.1+ GB

In [ ]:
%%time

create_fea(df)
df.shape

CPU times: user 2min 51s, sys: 1.37 s, total: 2min 52s
Wall time: 2min 52s

In [ ]:
df.dropna(inplace = True)
df.shape

(39894989, 31)

In [ ]:
cat_feats = ['item_id', 'dept_id','store_id', 'cat_id', 'state_id'] + ["event_name_1", "event_name_2", "event_type_1", "event_type_2"]
useless_cols = ["id", "date", "sales","d", "wm_yr_wk", "weekday"]
train_cols = df.columns[~df.columns.isin(useless_cols)]
X_train = df[train_cols]
y_train = df["sales"]

In [ ]:
%%time

np.random.seed(777)

fake_valid_inds = np.random.choice(X_train.index.values, 2_000_000, replace = False)
train_inds = np.setdiff1d(X_train.index.values, fake_valid_inds)
train_data = lgb.Dataset(X_train.loc[train_inds] , label = y_train.loc[train_inds], 
                         categorical_feature=cat_feats, free_raw_data=False)
fake_valid_data = lgb.Dataset(X_train.loc[fake_valid_inds], label = y_train.loc[fake_valid_inds],
                              categorical_feature=cat_feats,
                 free_raw_data=False)# This is a random sample, we're not gonna apply any time series train-test-split tricks here!

CPU times: user 15.2 s, sys: 1.12 s, total: 16.3 s
Wall time: 16.3 s

In [ ]:
del df, X_train, y_train, fake_valid_inds,train_inds ; gc.collect()

43

In [ ]:
params = {
        "objective" : "tweedie",
        "metric" :"rmse",
        "force_row_wise" : True,
        "learning_rate" : 0.075,
        "sub_feature" : 0.8,
        "sub_row" : 0.75,
        "bagging_freq" : 1,
        "lambda_l2" : 0.1,
        "metric": ["rmse"],
    'verbosity': 1,
    'num_iterations' : 1500,
    'num_leaves': 128,
    "min_data_in_leaf": 104,
}

In [ ]:
%%time

m_lgb = lgb.train(params, train_data, valid_sets = [fake_valid_data], verbose_eval=100)

/usr/local/lib/python3.6/dist-packages/lightgbm/engine.py:118: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/usr/local/lib/python3.6/dist-packages/lightgbm/basic.py:1205: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')
/usr/local/lib/python3.6/dist-packages/lightgbm/basic.py:762: UserWarning: categorical_feature in param dict is overridden.
  warnings.warn('categorical_feature in param dict is overridden.')

[100]	valid_0's rmse: 2.49167
[200]	valid_0's rmse: 2.46067
[300]	valid_0's rmse: 2.44345
[400]	valid_0's rmse: 2.43047
[500]	valid_0's rmse: 2.41993
[600]	valid_0's rmse: 2.41322
[700]	valid_0's rmse: 2.40606
[800]	valid_0's rmse: 2.40202
[900]	valid_0's rmse: 2.39862
[1000]	valid_0's rmse: 2.39546
[1100]	valid_0's rmse: 2.39347
[1200]	valid_0's rmse: 2.391
[1300]	valid_0's rmse: 2.38881
[1400]	valid_0's rmse: 2.38408
[1500]	valid_0's rmse: 2.38282
CPU times: user 14h 51min 30s, sys: 19.6 s, total: 14h 51min 49s
Wall time: 29min 47s

In [ ]:
m_lgb.save_model("model.lgb")

In [ ]:
%%time

#alphas = [1.035, 1.03, 1.025]
alphas = [1, 1, 1]
weights = [1/len(alphas)]*len(alphas)
sub = 0.

for icount, (alpha, weight) in enumerate(zip(alphas, weights)):

    te = create_dt(False)
    cols = [f"F{i}" for i in range(1,29)]

    for tdelta in range(0, 28):
        day = fday + timedelta(days=tdelta)
        print(icount, day)
        tst = te[(te.date >= day - timedelta(days=max_lags)) & (te.date <= day)].copy()
        create_fea(tst)
        tst = tst.loc[tst.date == day , train_cols]
        te.loc[te.date == day, "sales"] = alpha*m_lgb.predict(tst) # magic multiplier by kyakovlev



    te_sub = te.loc[te.date >= fday, ["id", "sales"]].copy()
#     te_sub.loc[te.date >= fday+ timedelta(days=h), "id"] = te_sub.loc[te.date >= fday+timedelta(days=h), 
#                                                                           "id"].str.replace("validation$", "evaluation")
    te_sub["F"] = [f"F{rank}" for rank in te_sub.groupby("id")["id"].cumcount()+1]
    te_sub = te_sub.set_index(["id", "F" ]).unstack()["sales"][cols].reset_index()
    te_sub.fillna(0., inplace = True)
    te_sub.sort_values("id", inplace = True)
    te_sub.reset_index(drop=True, inplace = True)
    te_sub.to_csv(f"submission_{icount}.csv",index=False)
    if icount == 0 :
        sub = te_sub
        sub[cols] *= weight
    else:
        sub[cols] += te_sub[cols]*weight
    print(icount, alpha, weight)


sub2 = sub.copy()
#sub2["id"] = sub2["id"].str.replace("validation$", "evaluation")
sub2["id"] = sub2["id"].str.replace("evaluation$", "validation")
sub = pd.concat([sub, sub2], axis=0, sort=False)
sub.to_csv("submission.csv",index=False)

0 2016-05-23 00:00:00
0 2016-05-24 00:00:00
0 2016-05-25 00:00:00
0 2016-05-26 00:00:00
0 2016-05-27 00:00:00
0 2016-05-28 00:00:00
0 2016-05-29 00:00:00
0 2016-05-30 00:00:00
0 2016-05-31 00:00:00
0 2016-06-01 00:00:00
0 2016-06-02 00:00:00
0 2016-06-03 00:00:00
0 2016-06-04 00:00:00
0 2016-06-05 00:00:00
0 2016-06-06 00:00:00
0 2016-06-07 00:00:00
0 2016-06-08 00:00:00
0 2016-06-09 00:00:00
0 2016-06-10 00:00:00
0 2016-06-11 00:00:00
0 2016-06-12 00:00:00
0 2016-06-13 00:00:00
0 2016-06-14 00:00:00
0 2016-06-15 00:00:00
0 2016-06-16 00:00:00
0 2016-06-17 00:00:00
0 2016-06-18 00:00:00
0 2016-06-19 00:00:00
0 1.035 0.3333333333333333
1 2016-05-23 00:00:00
1 2016-05-24 00:00:00
1 2016-05-25 00:00:00
1 2016-05-26 00:00:00
1 2016-05-27 00:00:00
1 2016-05-28 00:00:00
1 2016-05-29 00:00:00
1 2016-05-30 00:00:00
1 2016-05-31 00:00:00
1 2016-06-01 00:00:00
1 2016-06-02 00:00:00
1 2016-06-03 00:00:00
1 2016-06-04 00:00:00
1 2016-06-05 00:00:00
1 2016-06-06 00:00:00
1 2016-06-07 00:00:00
1 2016-06-08 00:00:00
1 2016-06-09 00:00:00
1 2016-06-10 00:00:00
1 2016-06-11 00:00:00
1 2016-06-12 00:00:00
1 2016-06-13 00:00:00
1 2016-06-14 00:00:00
1 2016-06-15 00:00:00
1 2016-06-16 00:00:00
1 2016-06-17 00:00:00
1 2016-06-18 00:00:00
1 2016-06-19 00:00:00
1 1.03 0.3333333333333333
2 2016-05-23 00:00:00
2 2016-05-24 00:00:00
2 2016-05-25 00:00:00
2 2016-05-26 00:00:00
2 2016-05-27 00:00:00
2 2016-05-28 00:00:00
2 2016-05-29 00:00:00
2 2016-05-30 00:00:00
2 2016-05-31 00:00:00
2 2016-06-01 00:00:00
2 2016-06-02 00:00:00
2 2016-06-03 00:00:00
2 2016-06-04 00:00:00
2 2016-06-05 00:00:00
2 2016-06-06 00:00:00
2 2016-06-07 00:00:00
2 2016-06-08 00:00:00
2 2016-06-09 00:00:00
2 2016-06-10 00:00:00
2 2016-06-11 00:00:00
2 2016-06-12 00:00:00
2 2016-06-13 00:00:00
2 2016-06-14 00:00:00
2 2016-06-15 00:00:00
2 2016-06-16 00:00:00
2 2016-06-17 00:00:00
2 2016-06-18 00:00:00
2 2016-06-19 00:00:00
2 1.025 0.3333333333333333
CPU times: user 2h 23min 36s, sys: 23.1 s, total: 2h 23min 59s
Wall time: 1h 57min 12s